.jumbotron {
    background-image: url("https://thenypost.files.wordpress.com/2019/03/190316-crudele-book.jpg?quality=90&strip=all&w=618&h=410&crop=1");
    background-size: cover;
}
h1{
    color: white;
}